.pic-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.bio-home{
    text-align: center;
    padding-bottom: 5%;

    
}
.description2{
    background-color: #52DB30;
    color: #ffff;
    /* display: inline-block; */
}

img {
    float: left;
    width:  500px;
    height: 500px;
    object-fit: cover;
}

.welcome-page{

    align-items: center;
    margin: 0;
    height: 100vh;
    /* 6FF136 */
    /* 74B63E */
    /* 52DB30 */
    background-color: #52DB30;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "Muli",sans-serif;
    color: #ffff;

}

@import url('https://fonts.googleapis.com/css?family=Mulli&display=swap');
*{
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50%;
  }
  img {
    max-width: 100%
  }
  .image {
    flex-basis: 40%
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 220px;
    background-color: grey;
  }
